<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.microserviceuser.mapper.UserRolesMapper">

    <!-- 조회 -->
    <select id="findAllUserRoles" resultType="com.example.microserviceuser.domain.UserRoles">
        SELECT * FROM UserRoles
    </select>

    <select id="findUserRoleByEmail" parameterType="String" resultType="com.example.microserviceuser.domain.UserRoles">
        SELECT ur.userId, ur.roleId, r.roleName
        FROM UserRoles ur
            INNER JOIN Users u ON ur.userId = u.id
            INNER JOIN Roles r ON ur.roleId = r.id
        WHERE u.email = #{email}
    </select>

    <!-- 이메일로 사용자 역할 상세 조회 -->
    <select id="findUserRoleByEmail" parameterType="String" resultType="com.example.microserviceuser.dto.UserRoleDetailDto">
        SELECT ur.id AS id, ur.userId AS userId, ur.roleId AS roleId, r.roleName AS roleName
        FROM UserRoles ur
                 INNER JOIN Users u ON ur.userId = u.id
                 INNER JOIN Roles r ON ur.roleId = r.id
        WHERE u.email = #{email}
    </select>

    <!-- 사용자 ID로 사용자 역할 상세 조회 -->
    <select id="findUserRolesByUserId" parameterType="Long" resultType="com.example.microserviceuser.dto.UserRoleDetailDto">
        SELECT ur.id AS id, ur.userId AS userId, ur.roleId AS roleId, r.roleName AS roleName
        FROM UserRoles ur
                 INNER JOIN Roles r ON ur.roleId = r.id
        WHERE ur.userId = #{userId}
    </select>



    <!-- 생성 -->
    <insert id="insertUserRole" parameterType="com.example.microserviceuser.domain.UserRoles" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO UserRoles (userId, roleId)
        VALUES (#{userId}, #{roleId})
    </insert>

    <!-- 수정 -->
    <update id="updateUserRole" parameterType="com.example.microserviceuser.domain.UserRoles">
        UPDATE UserRoles
        SET userId = #{userId}, roleId = #{roleId}
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="deleteUserRole" parameterType="Long">
        DELETE FROM UserRoles WHERE id = #{id}
    </delete>


    <!-- 사용자가 관리자 권한 가지고 있는지 체크, 없으면 0 -->
    <select id="existAdminRole" parameterType="String" resultType="boolean">
        SELECT COUNT(*)
        FROM USERROLES UR
        INNER JOIN USERS U ON UR.USERID = U.id
        INNER JOIN ROLES R ON UR.ROLEID = R.id
        WHERE U.EMAIL = #{email} AND r.roleName = 'ADMIN_AUTH'
    </select>
</mapper>
